/* CSS Document */
body .custom {
	text-align: left;
}
span .simple_header { 
	float: left; position: relative; color: #eaeaea;
	font-size: 16px;
	line-height: 1.5;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
h1 .custom { 
   margin-left: 0px !important;	
   float: left; position: relative; font-size: 22px; 
}
h2 .custom { 
   float: left; position: relative; font-size: 18px;
}
h3 .custom { 
   float: left; position: relative; 
}