/* CSS Document */
body .customize {
	text-align: left;
}
span .simple_header { 
	float: left; position: relative; color: #eaeaea;
	font-size: 16px;
	line-height: 1.5;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
header h1 .customize { 
	float: left; position: relative; 
}
header h2 .customize { 
	float: left; position: relative; font-size: 18px;
}
header h1 {
	margin-left: 0px !important;
}
header h2 {
	margin-left: 0px; 
	color: #eaeaea !important;
}
h3 .customize { 
	float: left; position: relative; 
}