<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>Kornilov Denis Igorovich :: Work Experience</title>
  </head>

  <body class="customize">

    <header>
      <div class="container">
      	<span class="simple_header">./&nbsp;OS Linux Server started..</span><br>
        <span class="simple_header">./&nbsp;Profile updated...v.08.2017 ./&nbsp;ls</span><br>
	    <h1 class="customize" style="margin-left: 0px; font-size: 28px; ">Kornilov Denis</h1>
        <h1 class="customize" style="margin-left: 0px; font-size: 20px; ">Ukraine/Kiev/14.03.1981 <nobr>./&nbsp;sudo su</nobr></h1>
        <h3 class="customize">$/&nbsp;+380672200064 $/&nbsp;denis.kornilov/gmail<br>$/&nbsp;denis.kornilov81/skype</h3>		  		
        <h2 class="customize">Python/Android/C#/Oracle/MySQL <nobr>Back-End Development</nobr></h2>		         
  
        <div style="clear: both;"></div>

        <section id="downloads">
          {% if site.show_downloads %}
          	<nobr>
                <a href="{{ site.github.zip_url }}" class="btn ex" target="_blank">Detailed XP...</a>
                <a href="{{ site.github.zip_url }}" class="btn ex" target="_blank">Inspect Code...</a>
            </nobr>
          {% endif %}
          <div class="space"> 
	          <a href="{{ site.github.repository_url }}" class="btn btn-github ex" target="_blank"><span class="icon"></span>GitHub...</a>
          </div>
        </section>
      </div>
      <div style="clear: both;"></div>
    </header>

    <div class="container">
      <section id="main_content">
      	 <img src="../assets/images/hbkg.png" style="max-width: 600px; width: 100%; display: inline-block; position: relative;" /> 
        {{ content }}
      </section>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
